.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  max-width: 300px;
  width: 100%;
  height: 300px;
  border-radius: 5px;
  padding: 24px 48px;
  background-color: var(--color-w1);

  .info-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      max-width: 40px;
      padding-bottom: 8px;
    }

    h1 {
      color: var(--color-c4);
      font-size: 24px;
      font-weight: 500;
      text-align: center;
    }
  }

  .price {
    h3 {
      font-size: 1rem;
      color: var(--color-c2);
      text-align: center;
      font-weight: 500;
      padding-bottom: 12px;
      
      span {
        color: var(--color-p2);
      }
    }
  }
}