.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 10px 20px;

  .right-side {
    ul {
      display: flex;
      gap: 40px;
      align-items: center;

      li a {
        display: flex;
        align-items: center;
        color: var(--color-c3);
        font-weight: 500;
      }
    }
  }

}

@media screen and (max-width: 768px) {
  .header-container {
    .left-side {
      img {
        max-width: 150px;
      }
    }

    .right-side {
      display: none;
    }
  }
}