footer {
  background: var(--color-p3);

  .top-side {
    padding: 120px 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid var(--color-p4);

    h1 {
      text-align: center;
      max-width: 600px;
      font-size: 3rem;
      color: var(--color-w3);
      padding-bottom: 30px;

      span {
        color: var(--color-w1);
      }
    }

    button {
      background: var(--color-w1);
      color: var(--color-p3);

      :hover {
        background: var(--color-w2);
        color: var(--color-p4);
      }
    }
  }

  .bottom-side {
    max-width: 1262px;
    padding: 120px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .logo {
      grid-column: 1/2;

      h1 {
        color: var(--color-w1);
      }
    }

    .atendimento, .menu {
      h1 {
        color: var(--color-w1);
        font-size: 1.4rem;
        font-weight: 500;
        padding-bottom: 24px;
      }

      li {
        color: var(--color-w2);
        font-size: 1.25rem;
        padding-bottom: 12px;
      }
    }

    .atendimento {
      grid-column: 2/3;
    }

    .menu {
      grid-column: 3/4;
    }
  }

  .info {
    max-width: 1262px;
    margin: 0 auto;
    text-align: center;
    padding: 60px 20px;

    p {
      color: var(--color-p4);
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
  }
}